<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bookie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookie"
        android:label="@string/app_name"
        android:focusable="true"
        android:roundIcon="@drawable/path_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookie">
        <activity android:name=".OrdersList"></activity>
        <activity android:name=".BookDetail" />
        <activity android:name=".CatalogActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>